<mat-dialog-content class="modal-content">
    <div class="modal-header">
      <h2>Selecciona una Sede</h2>
      <button mat-icon-button (click)="closeDialog()" class="close-button" aria-label="Close">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  
    <!-- Lista de Sedes -->
    <div class="sedes-list">
      <mat-list role="list">
        <mat-list-item *ngFor="let sede of sedes" (click)="toggleSelection(sede)" [ngClass]="{'selected': sede.selected}">
            <div style="display: flex;">
                   <mat-icon mat-list-icon>location_city</mat-icon>
          <div mat-line>{{ sede.name }}</div>
          <div mat-line class="address-info">{{ sede.address }}</div>
            </div>
         
        </mat-list-item>
      </mat-list>
    </div>
  
    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button color="accent" (click)="applySelection()">Aplicar</button>
    </div>
  </mat-dialog-content>
  