<div class="main-content" style="margin-top: 40px;padding: 0px 15px 0 15px;min-height: calc(93vh - 123px);">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <mat-toolbar color="primary" style="justify-content: space-between;">
                        <span>Buscador Profesores</span>
                        <span class="spacer"></span>
                    </mat-toolbar>
                      
                    <mat-form-field appearance="outline" class="search-field">
                        <mat-label>Buscar</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por nombres o código" />
                        <button mat-icon-button matSuffix (click)="clearSearch()" *ngIf="searchValue">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="table-container">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <!-- Columnas definidas -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> ID </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="codigo">
                                <th mat-header-cell *matHeaderCellDef> Código </th>
                                <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="nombres">
                                <th mat-header-cell *matHeaderCellDef> Nombres </th>
                                <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="nroDocumento">
                                <th mat-header-cell *matHeaderCellDef> Nro. Documento </th>
                                <td mat-cell *matCellDef="let element"> {{element.numerodoc}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="nroHorasSemanales">
                                <th mat-header-cell *matHeaderCellDef> Horas Semanales </th>
                                <td mat-cell *matCellDef="let element"> {{element.horaSem}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element"> {{element.esActivo}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button color="primary" (click)="viewDetails(element)">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                    <button mat-icon-button color="accent" (click)="addSchedule(element)">
                                        <mat-icon>schedule</mat-icon>
                                      </button>
                                </td>
                            </ng-container>
    
                            <!-- Encabezado y filas -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                    <!-- Paginador -->
                    <mat-paginator [pageSizeOptions]="[7]" [pageSize]="7" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>