<mat-dialog-content class="modal-content">
  <div class="modal-header">
    <h2>Selecciona los Horarios</h2>
    <button mat-icon-button (click)="closeDialog()" class="close-button" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Lista de Horarios -->
  <div class="horarios-list">
    <mat-list role="list" >
      <mat-list-item *ngFor="let horario of horarios" (click)="toggleSelection(horario)" [ngClass]="{'selected': horario.selected}">
        <div style="display: flex;">
          <mat-icon mat-list-icon>schedule</mat-icon>
          <div class="horario-info">
            <div mat-line class="horario-name">{{ horario.name }}</div>
            <div mat-line class="time-info">{{ horario.time }}</div>
          </div>
        </div>
        
      </mat-list-item>
      
    </mat-list>
  </div>

  <div class="modal-footer">
    <button mat-raised-button color="primary" (click)="closeDialog()">Cancelar</button>
    <button mat-raised-button color="accent" (click)="applySelection()">Aplicar</button>
  </div>
</mat-dialog-content>
