<mat-dialog-content class="modal-content">
    <div class="modal-header">
      <h2>Selecciona las Restricciones</h2>
      <button mat-icon-button (click)="closeDialog()" class="close-button" aria-label="Close">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  
    <!-- Lista de Restricciones -->
    <div class="restricciones-list">
      <mat-list role="list">
        <mat-list-item *ngFor="let restriccion of restricciones" (click)="toggleSelection(restriccion)" [ngClass]="{'selected': restriccion.selected}">
            <div style="display: flex;">
                    <mat-icon mat-list-icon>lock</mat-icon>
          <div mat-line>{{ restriccion.name }}</div>
          <div mat-line class="description-info">{{ restriccion.description }}</div>
            </div>
        
        </mat-list-item>
      </mat-list>
    </div>
  
    <div class="modal-footer">
      <button mat-raised-button color="primary" (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button color="accent" (click)="applySelection()">Aplicar</button>
    </div>
  </mat-dialog-content>
  