<div class="main-content" style="margin-top: 40px;padding: 0px 15px 0 15px;min-height: calc(93vh - 123px);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <mat-toolbar color="primary" style="justify-content: space-between;">
              <span>Generación de horarios</span>
              <span class="spacer"></span>
              <button mat-raised-button color="warn">Generar Horarios</button>
            </mat-toolbar>

            <mat-expansion-panel class="search-filters-panel">
              <mat-expansion-panel-header>
                <mat-panel-title>Filtros de búsqueda</mat-panel-title>
              </mat-expansion-panel-header>
  
              <!-- Filtros en dos columnas -->
              <div class="search-filters">
                <div class="filter-column">
                  <mat-form-field appearance="outline" class="search-field">
                    <mat-label>Seleccion de horarios</mat-label>
                    <input matInput placeholder="Buscar horario" (click)="openModal('horarios')"/>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="search-field">
                    <mat-label>Seleccion de docentes</mat-label>
                    <input matInput placeholder="Buscar docente" (click)="openModal('docentes')"/>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="search-field">
                    <mat-label>Seleccion de salones</mat-label>
                    <input matInput placeholder="Buscar salón" (click)="openModal('salones')"/>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="search-field">
                    <mat-label>Seleccion de periodos de tiempo</mat-label>
                    <input matInput placeholder="Buscar periodo" (click)="openModal('periodostiempo')"/>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="search-field">
                    <mat-label>Seleccion de restricciones</mat-label>
                    <input matInput placeholder="Buscar restricción" (click)="openModal('restricciones')"/>
                  </mat-form-field>
                </div>
  
                <div class="filter-column">
                  
                  <mat-form-field appearance="outline" class="search-field">
                    <mat-label>Sede</mat-label>
                    <input matInput placeholder="Buscar sede" (click)="openModal('sedes')"/>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="search-field">
                    <mat-label>Carrera</mat-label>
                    <input matInput placeholder="Buscar carrera" (click)="openModal('carreras')"/>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="search-field">
                    <mat-label>Periodo</mat-label>
                    <input matInput placeholder="Buscar periodo" (click)="openModal('periodos')"/>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="search-field">
                    <mat-label>Turno</mat-label>
                    <input matInput placeholder="Buscar turno" (click)="openModal('turnos')"/>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
            
            <div class="table-container m-3">
              <mat-form-field appearance="outline" class="search-field">
                <mat-label>Buscar</mat-label>
                <input matInput placeholder="Ingrese un valor a buscar" />
              </mat-form-field>
            
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Columnas -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> NRO </th>
                  <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                </ng-container>
            
                <ng-container matColumnDef="period">
                  <th mat-header-cell *matHeaderCellDef> PERIODO </th>
                  <td mat-cell *matCellDef="let element">{{ element.periodo }}</td>
                </ng-container>
            
                <ng-container matColumnDef="sede">
                  <th mat-header-cell *matHeaderCellDef> SEDE </th>
                  <td mat-cell *matCellDef="let element">{{ element.sede }}</td>
                </ng-container>
            
                <ng-container matColumnDef="rDuras">
                  <th mat-header-cell *matHeaderCellDef> R. DURAS </th>
                  <td mat-cell *matCellDef="let element">{{ element.numrd }}</td>
                </ng-container>
            
                <ng-container matColumnDef="rBlandas">
                  <th mat-header-cell *matHeaderCellDef> R. BLANDAS </th>
                  <td mat-cell *matCellDef="let element">{{ element.numrb }}</td>
                </ng-container>
            
                <ng-container matColumnDef="evaluacion">
                  <th mat-header-cell *matHeaderCellDef> EVALUACIÓN </th>
                  <td mat-cell *matCellDef="let element">
                    <span [ngStyle]="{'color': getColor(element.fitness)}">
                      {{ element.fitness }}
                    </span>
                  </td>
                </ng-container>
            
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> DETALLE </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="openCalendar(element)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" (click)="openCalendar(element)">
                      <mat-icon>search</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="downloadElement(element)">
                      <mat-icon>download</mat-icon>
                    </button>
                  </td>
                </ng-container>
            
                <!-- Header y Rows -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>

          <mat-paginator [pageSize]="7" [pageSizeOptions]="[7]" showFirstLastButtons></mat-paginator>
            
        </div>
      </div>
    </div>
  </div>
</div>
