<div class="container" style="margin: 20px;z-index: 3000 !important;">
    <h1>Registro de horarios</h1>
  
    <!-- Fila: Selección de sede -->
    <div class="row" style="margin-bottom: 15px; display: flex; align-items: center;">        
      <mat-form-field appearance="fill" style="flex: 1; margin-right: 15px;">
        <mat-label>Sede</mat-label>
        <mat-select style="z-index: 1000  !important;"  [(value)]="selectedSede">
          <mat-option *ngFor="let sede of sedes" [value]="sede">{{ sede }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <!-- Fila: Selección de periodo -->
    <div class="row" style="margin-bottom: 15px; display: flex; align-items: center;">
      <mat-form-field appearance="fill" style="flex: 1; margin-right: 15px;">
        <mat-label>Periodo</mat-label>
        <mat-select [(value)]="selectedPeriodo">
          <mat-option *ngFor="let periodo of periodos" [value]="periodo">{{ periodo }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <!-- Botones -->
    <div class="row" style="margin-top: 20px; display: flex; justify-content: flex-end;">
      <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
      <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="guardar()">Guardar</button>
    </div>
  </div>